<section class="cs-content cs-container" >
    <div class="cs-layout-column cs-gt-s-layout-row cs-end-start">
        <div class="cs-no-shrink cs-flex-40 cs-card cs-elevation-z3">
            <div class="cs-form-wrapper cs-flex-grow cs-full-width">
               <fieldset style="border-radius: 6px; border-style:solid">
                  <legend class="cs-text-xl">Log In</legend>
                       <form style="background: linear-gradient(90deg, #d4be7b14 0%, #c67700ad 100%);padding:6px; border-radius: 6px"   action="localhost:3000/users" enctype="application/json" method="post" class="cs-form">
                            <div class="cs-form-input">
                              <label class="required" for="username">Username:</label>
                              <input type="username" id="username" placeholder="Enter registered App-Id / Email / Mobile No." title="Enter your registered Application-Id or Email or Mobile No. as a username." required="required"/>
                              <span class="cs-input-hint cs-text-center cs-font-bold">
                              Enter your registered Application-Id or Email or Mobile No. as a username
                              </span>
                            </div>
                            <div class="cs-form-input">    
                                <label class="required" for="password">Password:</label>
                                <input lock type="password" id="password" name="password"  placeholder="Enter your password" minlength="8" maxlength="32" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required="required"/>
                            </div> 
                            <div class="cs-form-input label">
                                <label>
                                    <input type="checkbox" checked="checked" id="remember" name="remember"> Remember me
                                  </label>
                            </div>
                               Forgot Password?
                            <div class="cs-form-actions">
                                 <button class="cs-form-action" type="submit">
                                  Login
                                 </button>
                                 <button class="cs-form-action cs-reset" type="reset">
                                  Clear
                                 </button>
                            </div>
                            <br>
                            <div> Not a member? 
                                <a onclick="route('/auth/signup')">Register Now</a> 
                            </div>
                        </form>
               </fieldset>
            </div>   
           </div>
    </div>
    
</section>