<section class="cs-content cs-container" id="content-section">
    
    <link href="/styles/pages/profile.styles.css" rel="stylesheet" />
    <h1>Profile</h1>
    <hr class="animate__animated animate__fadeInLeft">
    <hr class="animate__animated animate__fadeInRight">
        <div class="cs-layout-column cs-gt-s-layout-row cs-gt-m-layout-row">
            <div class="cs-flex-100 cs-gt-s-flex-50 cs-gt-m-flex-25 cs-layout-column cs-start-stretch">
            
                <div class="cs-card cs-elevation-z2">
                    <h3 class="cs-text-center">
                        My Virtual I-Card
                    </h3>
                    <br>
                    <div class="cs-text-center">
                        <img class="profile" src="/assets/images/kpic.jpg"  alt="profile_pic"><br><br>  
                    </div>
                    <div class="cs-text-center"> 
                       <span class="cs-text-l cs-font-bold ">Kunal Sen</span><br>
                       <span class="cs-text-m">MCA</span><br>
                       <span class="cs-text-m">Computer Science & Engineering</span><br>
                    </div>
                    <div class="cs-margin-5-0"> 
                        <div class="cs-layout-row cs-space-between-center ">
                            <span>Profile Completion:</span>
                            <span>32%</span>
                        </div>
                        <div class="cs-layout-row cs-start-center">
                            <progress class="cs-flex-grow" id="file" value="32" max="100"></progress>
                        </div>    
                        
                    </div>
                </div>   
                
                <div class="cs-card cs-elevation-z2">
                    <div class="cs-layout-row cs-start-center cs-padding-0-2 cs-heading-background">
                        <i class="material-icons">
                             build_circle
                        </i>     
                        <h3>&nbsp; Edit Profile</h3>
                    </div>
                    <div class="cs-layout-row cs-start-center cs-list-item-bordered cs-padding-0-2"> 
                        <i class="material-icons">settings</i>
                        <p>Settings</p>
                    </div> 
                    <div class="cs-layout-row cs-start-center cs-list-item-bordered cs-padding-0-2"> 
                        <i class="material-icons">message</i>
                        <p>Messages</p>
                    </div>
                    <div class="cs-layout-row cs-start-center cs-padding-0-2">
                        <i class="material-icons">photo_library</i>
                        <p>Gallery</p>
                    </div>      
                </div>
                
               
               <div class="cs-card cs-elevation-z2">
                    <div class="cs-layout-row cs-start-center cs-padding-0-2 cs-heading-background ">
                        <i class="material-icons">
                            contacts
                        </i>     
                        <h3>&nbsp; My Roommates</h3>
                    </div>
                    
                    <div class="cs-layout-row cs-start-center cs-list-item-bordered cs-padding-0-2">        
                        <img src="/assets/images/avatar_person.jpg" alt="Avatar" class="avatar">
                        <p>Sanket Auddya</p>                 
                   </div>               
                   <div class="cs-layout-row cs-start-center cs-list-item-bordered cs-padding-0-2"> 
                        <img src="/assets/images/avatar_person.jpg" alt="Avatar" class="avatar">
                        <p>Sudip Samanta</p>                    
                   </div>                    
                </div>                   
          </div>                      
                   
         
           
            <div class="cs-flex-100 cs-gt-s-flex-50 cs-gt-m-flex-75 cs-layout-column cs-start-stretch">
                
                    <div id="div-height-50px" class="cs-layout-row cs-start-center cs-padding-0-2 cs-heading-background cs-full-width cs-list-item-bordered">
                        <i class="material-icons">vpn_lock</i>
                        <h4> &nbsp; Authentication Details</h4>         
                    </div>
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <i class="material-icons">login</i>&nbsp;&nbsp;
                            <p class="cs-text-bold"> Application-Id : </p>&nbsp;
                            <span>APP/KU/06/18/MCA123</span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <i class="material-icons">lock</i> &nbsp;&nbsp;
                            <p class="cs-text-bold"> Password : </p>&nbsp;
                            <span>********</span>
                        </div>
                    </div>
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered">
                            <i class="material-icons">email</i> &nbsp;&nbsp;
                            <p class="cs-text-bold"> Email : </p>&nbsp;
                            <span>kunal.9856@yahoo.com</span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered">
                            <i class="material-icons">phone</i> &nbsp;&nbsp;
                            <p class="cs-text-bold"> Contact No. : </p>&nbsp;
                            <span>******933</span>
                        </div>
                    </div> 

                     <br>
                     <br>

                    <div id="div-height-50px" class="cs-layout-row cs-start-center cs-padding-0-2 cs-heading-background cs-full-width cs-list-item-bordered">
                        <i class="material-icons">perm_identity</i>
                        <h4> &nbsp; Personal Information</h4>         
                    </div> 
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">First Name : </p>&nbsp;
                            <span>Kunal </span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">Last Name : </p>&nbsp;
                            <span>Sen</span>
                        </div>
                    </div> 
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">Date Of Birth :</p>&nbsp;
                            <span>Day - Month - Year</span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold"> Gender : </p>&nbsp;
                            <span>Male</span>
                        </div>
                    </div> 
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">Date Of Hostel Admission :</p>&nbsp;
                            <span>Day - Month - Year</span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold"> Room No. : </p>&nbsp;
                            <span>18</span>
                        </div>
                    </div> 
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">City/village :</p>&nbsp;
                            <span>********</span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold"> District : </p>&nbsp;
                            <span>********</span>
                        </div>
                    </div> 
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">State/Province :</p>&nbsp;
                            <span>********</span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">ZIP/PIN : </p>&nbsp;
                            <span>********</span>
                        </div>
                    </div>  
                    <div class="cs-layout-row">  
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">Country : </p>&nbsp;
                            <span>********</span>
                        </div>
                    </div> 

                    <br>
                    <br>

                    <div id="div-height-50px" class="cs-layout-row cs-start-center cs-padding-0-2 cs-heading-background cs-full-width cs-list-item-bordered">
                        <i class="material-icons">description</i>
                        <h4> &nbsp; About</h4>         
                    </div> 
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">University : </p>&nbsp;
                            <span>University Of Kalyani </span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">Profession : </p>&nbsp;
                            <span>Student</span>
                        </div>
                    </div> 
                    <div class="cs-layout-row">
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">Department : </p>&nbsp;
                            <span>Computer Science & Engineering</span>
                        </div>
                        <div class="cs-layout-row cs-start-center cs-padding-0-2  cs-full-width cs-list-item-bordered ">
                            <p class="cs-text-bold">Course : </p>&nbsp;
                            <span>MCA</span>
                        </div>
                    </div> 
            </div>
       </div>
  </section>
 